:root{
    --Teal: #008080;
    --second-bg:#f3f1ed;
    --bg:#ffff;
    --pink:#F9619F;
    --orange:#ED8057;
    --green:#03BFA2;
    --yellow:#FCD748;
    --text:#0000;
}
body{
    font-family: 'Amiri', serif !important;
    font-family: 'Anton', sans-serif !important;
    font-family: 'Dancing Script', cursive !important;
    font-family: 'DynaPuff', cursive !important;
    background: var(--bg);
    overflow-x: hidden;
}
.brand{
    color: var(--green) !important;
    font-size: 30px !important;
}
.svg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.sec-title{
    width: 100%;
    color: var(--orange);
    text-align: center;
}
.secondary-bg{
    background-color: var(--second-bg) !important;
}